{% extends 'VODBaseBundle:Home/Landings:welcome-landing.html.twig' %}

{% trans_default_domain 'landing' %}
{% block landing_section1 %}
	<div id="section1" class="clarin-promotion-hero hero">
		<div class="container-fluid">
		    <div class="row navbar navbar_fake">
		        <div class="page-header clearfix">
		            <div class="col-xs-6 text-right">
		                <div class="logo-landing">
		                    <img src="{{ cdn_url~'/images/common/logo-qubit-blanco.svg' }}" alt="{{ 'common.titles.site_name'| trans({}, 'common') }}">
		                </div>
		            </div>
		            <div class="col-xs-6 text-left">
		                 <img src="{{ cdn_url~'/images/qubit-ar/clarin365-logo.png' }}" alt="{{ 'landing.promo.clarin.name' | trans }}">
		            </div>
		        </div>
		    </div>
		</div>
		{% if is_tablet() or not is_mobile() %}<div class="box">{% endif %}
			<div class="container-fluid text-left">
				<div class="col-xs-12">
					
					{% if is_mobile() %}
						<div class="row">
							<h1 class="text-center col-xs-12 col-sm-8 col-lg-6 col-sm-offset-2 col-lg-offset-3">{{ 'landing.promo.clarin.title_mobile' | trans | raw }}</h1>
							<h3  class="text-center  col-xs-12">{{ 'landing.promo.clarin.subtitle' | trans }}</h3>
						</div>
					{% else %}
						<h1 class="text-center col-xs-7 col-sm-8 col-lg-12 col-xs-offset-1 col-sm-offset-2 col-lg-offset-0 col-mxlg-6 col-mxlg-offset-3">{{ 'landing.promo.clarin.title' | trans | raw }}</h1>
					{% endif %}
					
					{# desktop #}
					{% if not is_mobile() %}
						<div class="col-xs-6">
							<ul class="list-group featured-list-group">
								{% set price = 'common.currency_symbol' | trans({}, 'common') ~ defaultPrice()|number_format(currency_decimals, ',', '.') %}
								<li class="featured-list-group_item">{{ 'landing.hero.list.first'| trans({'%price%': price}, 'landing') | raw }}</li>
			                    <li class="featured-list-group_item">{{ 'landing.hero.list.second' | trans  | raw }}</li>
			                    <li class="featured-list-group_item">{{ 'landing.hero.list.third'  | trans  | raw }}</li>
			                </ul>
						</div>

						{# bloque tarjeta 365 #}
						<div class="col-xs-6 promo-365 promo-365-desktop">
							<div class="col-xs-12">
								<div class="promo-card">
									 <img class="img-responsive" src="{{ cdn_url~'/images/qubit-ar/card365Plus.png' }}" alt="{{ 'landing.promo.clarin.card1' | trans }}">
								</div>
								<h4>
			    					<span class="promo-discount promo-discount-red">
			    						{{ 'landing.promo.clarin.promo1' | trans }}
			    					</span>
			    					<span class="promo-discount-label">
			    						{{ 'landing.promo.clarin.promo1_title_desktop' | trans }}
			    					</span>
								</h4>
							</div>
							<div class="col-xs-12">
								<div class="promo-card">
									 <img  class="img-responsive" src="{{ cdn_url~'/images/qubit-ar/card365.png' }}" alt="{{ 'landing.promo.clarin.card2' | trans }}">
								</div>
								<h4>
			    					<span class="promo-discount promo-discount-grey">
			    						{{ 'landing.promo.clarin.promo2' | trans }}
			    					</span>
			    					<span class="promo-discount-label">
			    						{{ 'landing.promo.clarin.promo2_title_desktop' | trans }}
			    					</span>
								</h4>
							</div>
						</div>
					{% endif %}
				
					{# bloque tarjeta 365 si es mobile #}

					{% if is_mobile() %}
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-2 promo-365">
							<div class="row">
								<div class="col-xs-6 col-sm-5">
									<div class="promo-card">
										 <img class="img-responsive" src="{{ cdn_url~'/images/qubit-ar/card365Plus.png' }}" alt="{{ 'landing.promo.clarin.card1' | trans }}">
									</div>
									<h4 class="promo-info">
				    					<span class="promo-discount">
				    						{{ 'landing.promo.clarin.promo1' | trans }}
				    					</span>
				    					<span class="promo-discount-label">
				    						{{ 'landing.promo.clarin.promo_title_mobile' | trans }}
				    					</span>
									</h4>
								</div>
								<div class="col-xs-6 col-sm-5">
									<div class="promo-card">
										 <img class="img-responsive" src="{{ cdn_url~'/images/qubit-ar/card365.png' }}" alt="{{ 'landing.promo.clarin.card2' | trans }}">
									</div>
									<h4 class="promo-info">
				    					<span class="promo-discount">
				    						{{ 'landing.promo.clarin.promo2' | trans }}
				    					</span>
				    					<span class="promo-discount-label">
				    						{{ 'landing.promo.clarin.promo_title_mobile' | trans }}
				    					</span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="col-xs-12 text-center"> 
						<a href="{{ path('registration') }}" class="btn btn-primary btn-lg">{{ 'common.buttons.landing_clarin_start_button' | trans({}, 'common') | raw }}</a>
						{% if is_mobile() %}
							<p class="disclaimer">
									*{{ 'landing.promo.clarin.disclaimer' | trans }}
							</p>
						{% else %}
							<p class="disclaimer">{{ 'common.disclaimers.premium_content' | trans({}, 'common') | raw }} {{ 'registration.first_month_promotion.disclaimer' | trans({}, 'registration')  | replace({'*': ''}) }}</p>
							<p class="disclaimer">
									**{{ 'landing.promo.clarin.disclaimer' | trans }}
							</p>
						{% endif %}
						
					</div>
				</div>
			</div>
		</div>
	{% if is_tablet() or not is_mobile() %}</div>{% endif %}
{% endblock landing_section1 %}
